:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
    padding-bottom: 3%;
    padding: 3% 10% 3%;
}

h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
/* @media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
} */


#hero .col-lg-6{
  margin: auto;
}

#hero{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h1{
    font-size: 3rem;
}
#hero h1 span{
    font-size: 4.5rem;
    font-weight: 700;
}
.hero-image-wrapper{
    text-align: center;
}

.heading-wrapper {
    text-align: center;
    margin: 2% auto 4%;
}

.review {
  background: #fff;
  padding: 1.5rem 10%;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}
.review:hover {
  box-shadow: var(--dark-shadow);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-5);
  color: #fff;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}
.info {
  margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}

#call-to-action{
    text-align: center;
}

#news{
    box-shadow: 0 10px 20px -10px #e6e6ea;   
}

footer{
  padding: 3% 0 0;
}

footer h5{
  font-weight: normal;
}
footer a{
  color: #4f516b;
  font-weight: 500;
}
footer .col-md-4{
  margin-bottom: 10px;
}
footer .col-md-4 a{
  text-decoration: none;
  font-weight: 400;
  margin-bottom: 30px;
}

footer .col-lg-5{
  padding: 20px;
}
footer .col-lg-5 p{
  font-weight: 300;
}
footer .social-icons-container{
  display: flex;
  margin-top: 30px;
}
footer .social-icon{
  margin: 0 15px 0 0;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #F9F9F9;

}
footer .social-icon i{
  color: #73777B;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}






/* ABOUT PAGE */
.heading{
    text-align:center;
    font-size: 40px;
}
.image{
    width:35%;
}
#title{
    font-size: 70px;
}
#titletext1{
    font-size: 28px;
}

  .column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
    text-align: center;
  }
  
  .card {
    box-shadow:0px 4px 8px 0px rgba(109, 102, 102, 0.317);
    margin: 8px;
    padding: 5px;
  }
  .missioncard{
    box-shadow:4px 8px 20px rgba(122, 118, 118, 0.317);
    margin: auto;
    padding: 30px;
    width: 700px;
    text-align: center;
    background-color: #c6e1f7be;
  }
  .about-section {
    padding: 20px 50px;
    text-align: left;
    /* background-color: #474e5d; */
    background: linear-gradient(133deg,black -6%,#6e757b);
    color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 25px black;
  }
  h3{
    font-size: 20px;
  }
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }






/* MENTAL HEALTH PAGE */
.mh-home, .bmi-home{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mh-card-container, .bmi-card-container{
    margin: auto;
}

.bmi-card-container .MuiPaper-root{
    padding: 7% 3%;
}